In [2]:
!pip install selenium

Collecting selenium
  Using cached selenium-3.141.0-py2.py3-none-any.whl (904 kB)
Requirement already satisfied: urllib3 in c:\users\hrisav\miniconda3\lib\site-packages (from selenium) (1.26.4)
Installing collected packages: selenium
Successfully installed selenium-3.141.0

In [31]:
!pip install bs4

Collecting bs4
  Using cached bs4-0.0.1.tar.gz (1.1 kB)
Collecting beautifulsoup4
  Using cached beautifulsoup4-4.9.3-py3-none-any.whl (115 kB)
Collecting soupsieve>1.2
  Using cached soupsieve-2.2.1-py3-none-any.whl (33 kB)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py): started
  Building wheel for bs4 (setup.py): finished with status 'done'
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1273 sha256=e7ecb5d633f91dd8efe13e470ba00ccbb0e455704fec6417e8308ccf99729209
  Stored in directory: c:\users\hrisav\appdata\local\pip\cache\wheels\0a\9e\ba\20e5bbc1afef3a491f0b3bb74d508f99403aabe76eda2167ca
Successfully built bs4
Installing collected packages: soupsieve, beautifulsoup4, bs4
Successfully installed beautifulsoup4-4.9.3 bs4-0.0.1 soupsieve-2.2.1

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='pypi.org', port=443): Read timed out. (read timeout=15)")': /simple/beautifulsoup4/

In [4]:
from selenium.webdriver import Chrome
import time

In [32]:
from bs4 import BeautifulSoup

In [25]:
PATH = 'C:\Program Files (x86)\chromedriver.exe'

driver = Chrome(executable_path=PATH)

url = 'https://housing.com/in/buy/searches/M2P5rq7v7nkml5mhwu9'
driver.get(url)

time.sleep(3)

i=0

while(i<=8):
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight)")
    time.sleep(3)
    i=i+1
    
time.sleep(3)
containers = [x.get_attribute('innerHTML') for x in driver.find_elements_by_xpath("//div[@class='css-v64o2m']")]

In [26]:
type(containers)

list

In [27]:
len(containers)

200

In [28]:
containers[0]

'<div class="css-70qvj9"><div class="css-18rodr0">₹98.0 L</div><span class="css-nin1gj">EMI starts at <!-- -->₹48.65 K</span></div><div class="css-1ypadwk"><div class="css-0"><span data-q="shortlist-0" class="shortlistIcon css-pmz1tj"></span></div></div><div class="css-ltqa49"><a data-q="title" target="_blank" class="css-1lj7uy5" href="/in/buy/resale/page/6489266-5-bhk-independent-house-in-baghajatin-for-rs-9800000"><h3 class="css-zekqfr"><div class="css-ybv4ci">5 BHK Independent House<span> <!-- -->for <!-- -->sale<!-- --> in <!-- -->Baghajatin</span></div></h3></a></div><div data-q="address" class="css-4in8py"><a class="css-16drx2b" target="_blank" href="/in/buy/kolkata/house-bagha_jatin_pally"> Raipur Road,Bagha Jatin Pally, Baghajatin,Kolkata</a></div><div data-q="features" class="css-mifb2i"><div class="css-ebj250"><div class="css-16mq4qa">Build Up Area</div><div class="css-1ty8tu4">1420 sq.ft</div></div><div class="css-ebj250"><div class="css-16mq4qa">Avg. Price</div><div class="css-1ty8tu4">₹6.90 K/sq.ft</div></div></div><div data-q="desc" class="css-19bzftt"><span class="css-1tm5r3x">Looking for a 5 BHK Independent House for sale in Kolkata? Your search ends here. Buy this 5 BHK property in Kolkata\'s finest location, Baghajatin. This Independent House is available at a reasonable price of Rs 98.0 L. The built up area of this property is 1420 Square feet. There are 5 bedrooms and 3 bathroom. There are a number of reputed schools in the vicinity such as Future Foundation School, Prantapally Balika Vidyalaya, and Prantapally Girls High School. Medical facility is also close at hand with names like Peerless Hospital, Medica Superspecialty Hospital, and Rabindranath Tagore Inte...</span><span class="toggle css-1ws3as8">Read more</span></div><div class="css-1otmh7k"><div data-q="seller-data" class="contact-bar css-tatn4f"><div class="thumbnail-wrapper css-1uoxvj3"><img src="https://is1-3.housingcdn.com/fb15c03b/57496a4111e37c5c4b92c3b193db04ce/v0/thumb.jpg" class="image css-10qiwim" alt="SR" decoding="async"><img src="//c.housingcdn.com/demand/s/common/assets/localityChamp.92d0ec82.png" class="img css-1hdayuy" alt="Prime User" decoding="async"><img src="//c.housingcdn.com/demand/s/common/assets/certifiedStar.60a6459e.svg" class="img css-6w9a0p" decoding="async"></div><div class="details css-sac6n0"><div class="css-wni7av"><a target="_blank" class="css-0" href="/agents/search-A6tb1fbjimodksc3kbiiadh77s">Sujata Realty</a></div><div class="contact-bar-subtitle css-dh78q8">Housing Expert</div></div><button class="cta css-wp8q0q">Contact</button></div><div class="certified-highlights css-8k1gqd"><div class="css-1cgonh4">Authentic Listings</div><div class="css-1cgonh4">Trusted Agent</div></div></div>'

In [33]:
pprice = []
pbhk = []
plocation = []

for container in containers:
    doc = BeautifulSoup(container)
    try:
        pprice.append(doc.find('div', {'class':'css-18rodr0'}).text)
    except:
        pprice.append('Price Not Available')
    try:
        pbhk.append(doc.find('div', {'class':'css-ybv4ci'}).text.split('BHK')[0].strip())
    except:
        pbhk.append('BHK Not Available')
    try:
        plocation.append(doc.find('a', {'class':'css-16drx2b'}).text.strip())
    except:
        plocation.append('Location Not Available')

In [34]:
import pandas as pd

details = list(zip(pprice, pbhk, plocation))

df = pd.DataFrame(details, columns = ['Price', 'BHK', 'Location'])
df.head()

     Price BHK                                           Location
0  ₹98.0 L   5  Raipur Road,Bagha Jatin Pally, Baghajatin,Kolkata
1  ₹80.0 L   3                                 Nazirabad, Kolkata
2  ₹1.3 Cr   6                           Bosepukur, Kasba,Kolkata
3  ₹24.5 L   2                                 Mohispota, Kolkata
4  ₹1.7 Cr   5                Desh Bandhu Nagar, Baguiati,Kolkata

In [35]:
len(df)

200

In [39]:
df.head(50)

       Price BHK                                           Location
0    ₹98.0 L   5  Raipur Road,Bagha Jatin Pally, Baghajatin,Kolkata
1    ₹80.0 L   3                                 Nazirabad, Kolkata
2    ₹1.3 Cr   6                           Bosepukur, Kasba,Kolkata
3    ₹24.5 L   2                                 Mohispota, Kolkata
4    ₹1.7 Cr   5                Desh Bandhu Nagar, Baguiati,Kolkata
5    ₹90.0 L   3                   Mahesh Colony, Serampore,Hooghly
6    ₹85.0 L   9                           Diamond Harbour, Kolkata
7    ₹4.0 Cr  5+                               Bhowanipore, Kolkata
8    ₹65.0 L   5                           Rajpur Sonarpur, Kolkata
9    ₹70.0 L   5                        Sarada Palli, Nimta,Kolkata
10   ₹5.5 Cr   5   Southern Avenue,Hindustan Park, Gariahat,Kolkata
11   ₹30.0 L   2                  Sucheta Nagar, Kabardanga,Kolkata
12   ₹4.0 Cr   5                     Manoharpukur, Kalighat,Kolkata
13   ₹38.0 L   6                                  Mankundu, Hooghly
14   ₹70.0 L   5                        Narikelbagan, Garia,Kolkata
15   ₹5.0 Cr   9                                    Murali, Kolkata
16   ₹42.0 L   3                        Hindmotor, Konnagar,Hooghly
17   ₹75.0 L   3                Sakher Bazar, Purba Barisha,Kolkata
18   ₹75.0 L   2        Elschi Narendrapur,Rajpur Sonarpur, Kolkata
19   ₹80.0 L   4        Kalikapur ,Nandan Kanan, Santoshpur,Kolkata
20   ₹4.5 Cr   6            individual house ,Jodhpur Park, Kolkata
21   ₹2.5 Cr   7                  Sector II, Salt Lake City,Kolkata
22   ₹2.2 Cr   6                              Lake Gardens, Kolkata
23   ₹61.0 L   3                                            Nirvana
24  ₹16.76 L   2                                 Lake Life Township
25   ₹70.0 L   4              house4you,Sikdar Para, Behala,Kolkata
26  ₹3.75 Cr   7                     Manoharpukur, Kalighat,Kolkata
27   ₹39.5 L   4           Barrackp,Anandapuri, Barrackpore,Kolkata
28   ₹1.3 Cr   7                     Silpara, Purba Barisha,Kolkata
29   ₹55.0 L   3   Shibalaya House Birati,Shibachal, Birati,Kolkata
30  ₹1.17 Cr   6                       Adipally, Santoshpur,Kolkata
31   ₹70.0 L   4                building ,Baidyapara, Garia,Kolkata
32   ₹1.6 Cr   9     Independent house 38,Baidyapara, Garia,Kolkata
33   ₹46.0 L   1  Ratneshwar Mishra,Desh Bandhu Nagar, Baguiati,...
34   ₹52.0 L   3  nitaji nilogor,Adarsha Pally, Netaji Nagar,Kol...
35  ₹49.99 L   3                         Bisharpara, Birati,Kolkata
36   ₹50.0 L   4                             Naktala, Garia,Kolkata
37   ₹1.0 Cr   6                                Bansdroni Apartment
38   ₹2.0 Cr   5                                 Kalikapur, Kolkata
39   ₹70.0 L   5    Anannya House,Chowhati, Rajpur Sonarpur,Kolkata
40   ₹1.0 Cr   4            Aastha house 1,Bosepukur, Kasba,Kolkata
41  ₹1.75 Cr   5                   Chak Garia, Pancha Sayar,Kolkata
42   ₹2.2 Cr   7                                 Kalikapur, Kolkata
43   ₹70.0 L   4                           Kalikapur, Haltu,Kolkata
44   ₹3.0 Cr   6                  Subham Plaz,Jodhpur Park, Kolkata
45   ₹3.0 Cr   8                              Jodhpur Park, Kolkata
46   ₹85.0 L   6                    Jole Doba Para, Khardah,Kolkata
47   ₹33.0 L   2                     Chakpachuria, New Town,Kolkata
48  ₹1.35 Cr   7      Paschim Nischintapur, Rajpur Sonarpur,Kolkata
49   ₹5.0 Cr  5+        Ballygunj Military Camp, Ballygunge,Kolkata

In [40]:
df.tail(50)

        Price BHK                                           Location
150   ₹6.0 Cr  10    Sunshine consultancy ,Mudiali, Kalighat,Kolkata
151   ₹6.0 Cr  10    Sunshine consultancy ,Mudiali, Kalighat,Kolkata
152  ₹3.25 Cr   9                   Sector-1, Salt Lake City,Kolkata
153   ₹5.0 Cr   6  Sunshine consultancy ,Manoharpukur, Kalighat,K...
154   ₹3.0 Cr  10                            Hazra, Kalighat,Kolkata
155  ₹10.0 Cr  10                            Hazra, Kalighat,Kolkata
156  ₹45.0 Cr  10                  Dover Terrace, Ballygunge,Kolkata
157   ₹1.9 Cr   7                     Beck Bagan, Ballygunge,Kolkata
158   ₹3.7 Cr   7                   Sector-1, Salt Lake City,Kolkata
159   ₹1.6 Cr   6                   Sector-1, Salt Lake City,Kolkata
160   ₹2.2 Cr   6               Nalban Bheri, Salt Lake City,Kolkata
161   ₹2.2 Cr   5                   Sector-1, Salt Lake City,Kolkata
162   ₹2.2 Cr   5               Nalban Bheri, Salt Lake City,Kolkata
163   ₹2.1 Cr   5               Nalban Bheri, Salt Lake City,Kolkata
164   ₹2.2 Cr   6                   Sector V, Salt Lake City,Kolkata
165   ₹2.2 Cr   5                   Sector V, Salt Lake City,Kolkata
166   ₹82.0 L   3                Sakher Bazar, Purba Barisha,Kolkata
167   ₹2.8 Cr   4               Nalban Bheri, Salt Lake City,Kolkata
168   ₹3.1 Cr   5               Nalban Bheri, Salt Lake City,Kolkata
169   ₹5.0 Cr   6                   Sector-1, Salt Lake City,Kolkata
170   ₹5.0 Cr   6               No name ,Unique Park, Behala,Kolkata
171   ₹3.2 Cr   5                   Sector V, Salt Lake City,Kolkata
172   ₹1.6 Cr   3                   Sector-1, Salt Lake City,Kolkata
173  ₹24.0 Cr  10               No name ,Ekdalia, Ballygunge,Kolkata
174  ₹1.55 Cr   5                   Sector-1, Salt Lake City,Kolkata
175   ₹7.0 Cr   7            No name ,Manoharpukur, Kalighat,Kolkata
176   ₹8.0 Cr   7            No name ,Manoharpukur, Kalighat,Kolkata
177  ₹12.0 Cr   4            No name ,Manoharpukur, Kalighat,Kolkata
178   ₹9.2 Cr  10              No name ,Lake Range, Kalighat,Kolkata
179  ₹35.0 Cr  10                            No name ,Elgin, Kolkata
180  ₹35.0 Cr   8           No name ,Chakraberia, Ballygunge,Kolkata
181  ₹18.0 Cr   9              No name ,Lake Range, Kalighat,Kolkata
182  ₹13.0 Cr   8              No name ,Lake Range, Kalighat,Kolkata
183  ₹10.5 Cr   8            No name ,Manoharpukur, Kalighat,Kolkata
184  ₹31.0 Cr   5                       No name ,Ballygunge, Kolkata
185   ₹2.5 Cr   5               Nalban Bheri, Salt Lake City,Kolkata
186   ₹3.0 Cr   8                 Sector III, Salt Lake City,Kolkata
187   ₹2.9 Cr   8                 Sector III, Salt Lake City,Kolkata
188   ₹1.6 Cr   3                   Sector-1, Salt Lake City,Kolkata
189   ₹2.5 Cr   5                 Sector III, Salt Lake City,Kolkata
190  ₹1.55 Cr   4                   Sector-1, Salt Lake City,Kolkata
191   ₹1.6 Cr   3                   Sector-1, Salt Lake City,Kolkata
192   ₹2.9 Cr   4               Nalban Bheri, Salt Lake City,Kolkata
193   ₹2.2 Cr   4                  Sector II, Salt Lake City,Kolkata
194   ₹2.2 Cr   6                   Sector-1, Salt Lake City,Kolkata
195   ₹3.1 Cr   6                 Sector III, Salt Lake City,Kolkata
196   ₹3.1 Cr   7                 Sector III, Salt Lake City,Kolkata
197   ₹4.0 Cr   8                   Sector-1, Salt Lake City,Kolkata
198   ₹2.5 Cr   5                 Sector III, Salt Lake City,Kolkata
199  ₹10.0 Cr  10  Sunshine consultancy ,Lake Market, Kalighat,Ko...